<!DOCTYPE html>

<html lang="en" data-ng-app="MovieApp">
  <head>
		<meta charset="utf-8">
		<title>RIA Personal Project: Aggregate Movie App</title>
  </head>
	
	<body data-ng-controller="MovieCtrl">
		
		<div>
			<input type="text" data-ng-model="movieSearch" data-ng-keyup="keyUp($event)"/> 
				{{ movieSearch }}
		</div>
    
    <div id="results">     
     
      <ul>      
        <li data-ng-repeat="movie in movies.movies">
        Title:{{ movie.title }} <br/>
        Released: {{ movie.year }} <br/>
        MPAA Rating: {{ movie.mpaa_rating }} <br/>
        <img ng-src="{{ movie.posters.thumbnail }}" />
        </li>
      </ul>
    </div>
	
		<!-- Javascript includes -->
    <!-- Includes:           -->
    <!-- CDN for AngularJS   -->
    <!-- Arg.js - A lightweight URL argument and parameter parser -->
    <!--         https://github.com/stretchr/arg.js               -->
    <!-- My Movie Controller -->    
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
   <script src="js/arg.js.v1.1.min.js"></script>
		<!--<script src="js/movieCtrl.js"></script> -->    
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
	</body>
</html>